 <!-- Products Start -->



 <div class="container-fluid pb-3">

   <div class="container">
    <div class="row d-flex justify-content-between align-items-center mb-2">
      <h4 class="text-uppercase">
        <span class=" pr-3">{{productValue?.title}}</span>
      </h4>

      <div class="">
        <label for="searchUser" class="form-label">Search Product</label>
        <div class="d-flex">
          <input type="text" placeholder="Search Product" class="form-control" [(ngModel)]="searchProduct">
        <button type="button" class="btn btn-success btn-sm mx-3" (click)="searchProduct= ''">Clear</button>
        </div>

      </div>
    </div>
   </div>

   <div class="container d-flex justify-content-center mb-5">
    <!-- <span class="mr-4">Select Category : -</span> -->
    <mat-chip-list aria-label="Fish selection">
       <mat-chip  color="accent" *ngFor="let catItem of categoryList" [selected]="searchProduct == catItem" (click)=" searchProduct= catItem">{{catItem}}</mat-chip>
      
       <!-- <mat-chip color="accent" selected>Accent fish</mat-chip> -->
     </mat-chip-list>

</div>

    <div class="row px-xl-5">

      <!-- {{productValue.data.length }} -->

        <ng-container *ngFor="let item of featuresItems | filterPipe:searchProduct">

            <div class="col-lg-3 col-md-4 col-sm-6 col-12 pb-1">
                <div class="product-item bg-light mb-4">
                    <div class="product-img position-relative overflow-hidden">
                        <!-- <img class="img-fluid w-100" src="assets/img/product-{{item}}.jpg" alt=""> -->
                        <img  class="img-fluid w-100" style="height: 15rem;" [src]="item.productImage" alt="{{item.productName}}">
                        <div class="product-action">
                          <ng-container *ngIf="item.productStatus;else eyeSlash">
                            <a role="button" (click)="changeProductStatus(false,item)" class="btn btn-outline-dark btn-square" >
                              <i class="fa fa-eye"></i>
                            </a>
                          </ng-container>
                          <ng-template #eyeSlash>
                            <a role="button" class="btn btn-outline-dark btn-square" (click)="changeProductStatus(true,item)" >
                              <i class="far fa-eye-slash"></i>
                            </a>
                          </ng-template>


                          <!-- <a class="btn btn-outline-dark btn-square" role="button" (click)="editProductDetails(item)"><i class="fa fa-image"></i></a> -->

                            <a class="btn btn-outline-dark btn-square" role="button" (click)="editProductDetails(item)"><i class="fa fa-edit"></i></a>
                            <a role="button" class="btn btn-outline-dark btn-square" (click)="forDeleteConfirm(item)"><i class="fa fa-trash"></i></a>
                        </div>
                    </div>
                    <div class="text-center py-4">
                        <a class="h6 text-decoration-none text-truncate" >
                          {{item.productName}}
                        </a>
                       <div>
                        <small>
                          {{item.productDetails}}
                        </small>
                       </div>
                        <div class="d-flex align-items-center justify-content-center mt-2">
                            <h5>₹{{item.displayPrice}}</h5><h6 class="text-muted ml-2"><del>₹{{item.productPrice}}</del></h6>
                        </div>
                        <div class="d-flex align-items-center justify-content-center mb-1">
                            <small class="fa fa-star text-primary mr-1"></small>
                            <small class="fa fa-star text-primary mr-1"></small>
                            <small class="fa fa-star text-primary mr-1"></small>
                            <small class="fa fa-star text-primary mr-1"></small>
                            <small class="fa fa-star text-primary mr-1"></small>
                            <small>({{item.productRating != '' ?item.productRating*123:99}})</small>
                        </div>
                    </div>
                </div>
            </div>
        </ng-container>

    </div>
</div>
<!-- Products End -->
