<div class="container-fluid">
    <div class="row my-3">

      <div class="col-xl-3 col-lg-6 col-md-6 col-sm-12">
        <div class="flip-card border">
          <div class="flip-card-inner">
            <div class="flip-card-front">
              <div class="card-heading p-2 bg-primary2 text-light">Category Details</div>
              <img src="assets/img/category1.webp" class="img-fluid h-100 w-100"  alt="Avatar" >
            </div>
            <div class="flip-card-back bg-primary2">
              <h3 class="my-2">Category Details</h3>
              <div class="d-flex  align-items-center flex-column">
                <button class="btn btn-danger my-2 btn-sm" (click)="addCategory()">Add Category</button>
                <button class="btn btn-success btn-sm" routerLink="category">Show Category</button>

              </div>
            </div>
          </div>
        </div>

      </div>

      <div class="col-xl-3 col-lg-6 col-md-6 col-sm-12">
        <div class="flip-card border">
          <div class="flip-card-inner">
            <div class="flip-card-front">
              <div class="card-heading p-2 bg-danger text-light">Product Details</div>

              <img src="assets/img/product-heading.jpg" class="img-fluid h-100 w-100"  alt="Avatar">
            </div>
            <div class="flip-card-back bg-danger">
              <h3 class="my-2">Product Details</h3>
              <div class="d-flex  align-items-center flex-column">
                <button class="btn btn-light my-2 btn-sm" routerLink="addProduct">Add Product</button>
                <button class="btn btn-success btn-sm" routerLink="product">Show Product</button>

              </div>
            </div>
          </div>
        </div>

      </div>


      <div class="col-xl-3 col-lg-6 col-md-6 col-sm-12">
        <div class="flip-card border">
          <div class="flip-card-inner">
            <div class="flip-card-front">
              <div class="card-heading p-2 bg-warning text-light">Customer Details</div>

              <img src="assets/img/customer-heading.webp"  class="img-fluid h-100 w-100"  alt="Avatar">
            </div>
            <div class="flip-card-back bg-warning">
              <h1>John Doe</h1>
              <p>Architect & Engineer</p>
              <p>We love that guy</p>
            </div>
          </div>
        </div>

      </div>


      <div class="col-xl-3 col-lg-6 col-md-6 col-12">
        <div class="flip-card border">
          <div class="flip-card-inner">
            <div class="flip-card-front">
              <div class="card-heading p-2 bg-success text-light">Messages Details</div>

              <img src="assets/img/message-heading.jpg" class="img-fluid h-100 w-100" alt="Avatar">
            </div>
            <div class="flip-card-back bg-success">
              <h1>John Doe</h1>
              <p>Architect & Engineer</p>
              <p>We love that guy</p>
            </div>
          </div>
        </div>

      </div>


      <div class="col-xl-3 col-lg-6 col-md-6 col-12">
        <div class="flip-card border">
          <div class="flip-card-inner">
            <div class="flip-card-front">
              <div class="card-heading p-2 bg-warning text-light">Customer Order Details</div>

              <img src="assets/img/customer-details.jpg" class="img-fluid h-100 w-100" alt="Avatar">
            </div>
            <div class="flip-card-back bg-warning">
              <h1>John Doe</h1>
              <p>Architect & Engineer</p>
              <p>We love that guy</p>
            </div>
          </div>
        </div>

      </div>

    </div>
  </div>
