<div class="container">
    <div class="row">

        <div class="container-fluid">
            <div class="row">
              <div class="col-xl-3 col-lg-4 col-md-6 col-12">
                <label for="searchUserFeedback" class="form-label"></label>
                <input type="text" placeholder="Search User" (keyup)="filterUserFeedbackData($event.target.value)" class="form-control">
              </div>
            </div>
           </div>

        <div class="col-12" *ngFor="let msg of feedbackRespo">
            <div class="card my-2">
                <div class="card-body">
                    <div class="card-title">
                        <span class="font-weight-bold mr-2">Name :</span> <span class="badge badge-warning text-uppercase py-1">{{msg.name}}</span>
                    </div>
                    <div>
                        <span class="font-weight-bold mr-2">Email :</span> <span class="badge badge-danger py-1">{{msg.email}}</span>

                    </div>
                    <div>
                        <span class="font-weight-bold mr-2">Mobile :</span> <span class="badge badge-success text-uppercase py-1">{{msg.phone}}</span>

                    </div>
                    <hr>

                    <div>
                        <span class="font-weight-bold mr-2">Feedback :</span> <span class="">{{msg.message}}</span>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>