<div class="container-fluid">
    <div class="row">
        <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 col-12">
            <div class="card my-2">
                <div class="card-body">
                    <div class="d-flex justify-content-center align-items-center mb-3">
                        <h4 class="text-center">Profile Photo</h4>
                    </div> 
                    <div class="my-2 text-center">
                        <!-- <img src="assets/img/profilePhoto/Profile-Male.png" style="height: 250px;" class="img-fluid" alt="profile Photo"> -->
                        <img [src]="imageShow" style="height: 250px;width: 250px;" class="img-fluid rounded-circle img-thumbnail" alt="profile Photo">
                    </div>

                    <div class="fort-weight-bold text-center">{{userDetails.value.fullName}}</div>

                    <div class="mb-1">
                        <label for="profilePhoto"></label>
                        <input type="file" class="form-control" (change)="handleFileSelect($event)">
                    </div>
                    <div class="mt-2 text-right">
                        <button type="button" class="btn btn-sm btn-secondary" (click)="updateProfilePhoto()">Upload Image</button>
                    </div>
                </div>
            </div>

        </div>
        <div class="col-xl-8 col-lg-8 col-md-6 col-sm-12 col-12">
            <div class="card my-2">
                <div class="card-body">
                    <div class="d-flex justify-content-between align-items-center mb-3">
                        <h4 class="text-right">Profile Settings</h4>
                    </div>
                    <form [formGroup]="userDetails" (ngSubmit)="userProfileSubmit()">
                        <div class="row mt-2">
                            <div class="col-xl-6 col-lg-6 col-md-12 col-12 mb-2">
                                <label for="userName" class="form-label">Name <span class="text-danger">*</span></label>
                                <input type="text" id="userName" formControlName="fullName" class="form-control" placeholder="User Name">
                                <span  *ngIf="userDetails.controls.fullName.invalid && userDetails.controls.fullName.touched" class="font12-error">User Name is required *</span>

                            </div>

                            <div class="col-xl-6 col-lg-6 col-md-12 col-12 mb-2">
                                <label for="emailID" class="form-label">Email <span class="text-danger">*</span></label>
                                <input type="email" id="emailId"  formControlName="email_id" class="form-control" placeholder="Email Id" readonly disabled>
                            
                                <span  *ngIf="userDetails.controls.email_id.invalid && userDetails.controls.email_id.touched" class="font12-error">Email Id is required *</span>

                            </div>

                            <div class="col-xl-6 col-lg-6 col-md-12 col-12 mb-2">
                                <label for="userPassword" class="form-label">Password <span class="text-danger">*</span></label>
                                <input type="text" id="userPassword"  formControlName="password" class="form-control" placeholder="User Password">
                                <span  *ngIf="userDetails.controls.password.invalid && userDetails.controls.password.touched" class="font12-error">Password is required *</span>

                            </div>

                            <div class="col-xl-6 col-lg-6 col-md-12 col-12 mb-2">
                                <label for="dob" class="form-label">DOB <span class="text-danger">*</span></label>
                                <input type="date" id="dob" class="form-control"  formControlName="dob">
                                <span  *ngIf="userDetails.controls.dob.invalid && userDetails.controls.dob.touched" class="font12-error">Date of Birth is required *</span>

                            </div>

                            <div class="col-xl-6 col-lg-6 col-md-12 col-12 mb-2">
                                <label for="gender" class="form-label">Gender <span class="text-danger">*</span></label>
                                <select type="text" id="gender" class="form-control"  formControlName="gender">
                                    <option value="Male">Male</option>
                                    <option value="Female">Female</option>

                                    </select>
                            </div>

                            <div class="col-xl-6 col-lg-6 col-md-12 col-12 mb-2">
                                <label for="areaStreet" class="form-label">Area Street <span class="text-danger">*</span></label>
                                <input type="text" id="areaStreet" class="form-control"  formControlName="areaStreet" placeholder="Enter Area Street">
                            </div>

                            <div class="col-xl-6 col-lg-6 col-md-12 col-12 mb-2">
                                <label for="landmark" class="form-label">Landmark <span class="text-danger">*</span></label>
                                <input type="text" id="landmark" class="form-control"  formControlName="landmark" placeholder="Enter Landmark">
                            </div>

                            <div class="col-xl-6 col-lg-6 col-md-12 col-12 mb-2">
                                <label for="city" class="form-label">City <span class="text-danger">*</span></label>
                                <input type="text" id="city" class="form-control"  formControlName="city" placeholder="Enter City">
                            </div>

                            <div class="col-xl-6 col-lg-6 col-md-12 col-12 mb-2">
                                <label for="pinCode" class="form-label">Pincode <span class="text-danger">*</span></label>
                                <input type="text" id="pinCode" class="form-control"  formControlName="pinCode" placeholder="Enter Pincode">
                            </div>

                            <div class="col-xl-6 col-lg-6 col-md-12 col-12 mb-2">
                                <label for="state" class="form-label">State <span class="text-danger">*</span></label>
                                <!-- <input type="text" id="state" class="form-control"  formControlName="state" placeholder="Enter State"> -->
                                <!-- stateArr -->
                                <select type="text" id="state" class="form-control"  formControlName="state">
                                    <option value="">Select your State</option>
                                    <ng-container *ngFor="let statename of stateArr">

                                        <option [value]="statename">{{statename}}</option>

                                    </ng-container>

                                    </select>
                            </div>

                        </div>
                        <div class="my-2">
                            <!-- [disabled]="userDetails.invalid" -->
                            <button type="submit"  class="btn btn-sm btn-success">Update Profile</button>
                        </div>
                    </form>
                </div>
            </div>

        </div>
    </div>
</div>