<!-- Products Start -->
<div class="container-fluid pt-2 pb-3">
    <div class="d-flex justify-content-between align-items-center mb-2">
        <h4 class="section-title position-relative text-uppercase mx-xl-5 mb-4"><span class=" pr-3">Recent Products</span></h4>

        <div class="">
            <label for="searchUser" class="form-label">Search Product</label>
           <div class="d-flex">
            <input type="text" placeholder="Search Product" class="form-control" [(ngModel)]="searchProduct">
            <button type="button" class="btn btn-success btn-sm mx-3" (click)="searchProduct= ''">Clear</button>

           </div>
          </div>
    <ng-container *ngIf="categoriesType != '' && categoriesType != undefined && categoriesType != null">

        <button type="button" class="btn btn-sm btn-success" (click)="showAllProduct()">Show all product</button>

    </ng-container>
    </div>

    <div class="container d-flex justify-content-center mb-5">
         <!-- <span class="mr-4">Select Category : -</span> -->
         <mat-chip-list aria-label="Fish selection">
            <mat-chip  color="accent" *ngFor="let catItem of categoryList" [selected]="searchProduct == catItem" (click)=" searchProduct= catItem">{{catItem}}</mat-chip>
           
            <!-- <mat-chip color="accent" selected>Accent fish</mat-chip> -->
          </mat-chip-list>

    </div>
    <div class="row px-xl-5">
        
        <ng-container *ngFor="let item of productList | filterPipe:searchProduct">
            <div class="col-lg-3 col-md-4 col-sm-6 pb-1">
                <div class="product-item bg-light mb-4">
                    <div class="product-img position-relative overflow-hidden">
                        <!-- <img class="img-fluid w-100" src="assets/img/product-{{item}}.jpg" alt=""> -->
                        <img class="img-fluid w-100" style="height: 15rem;" [src]="item.productImage" alt="">
                        <div class="product-action">
                            <a class="btn btn-square" [matTooltip]="item.isCart?'Already added in cart':'Add to cart'" matTooltipPosition="above" [ngClass]="{'btn-outline-dark':!item.isCart,'btn-success':item.isCart}" role="button" (click)="addToCart(item)"><i class="fa fa-shopping-cart"></i></a>
                            <!-- <a class="btn btn-outline-dark btn-square" href=""><i class="far fa-heart"></i></a> -->
                            <!-- <a class="btn btn-outline-dark btn-square" href=""><i class="fa fa-sync-alt"></i></a> -->
                            <!-- <a class="btn btn-outline-dark btn-square" href=""><i class="fa fa-search"></i></a> -->
                            <a class="btn btn-danger btn-square" (click)="checkOut(item)" role="button">Buy</a>
                        </div>
                    </div>
                    <div class="text-center py-4">
                        <a class="h6 text-decoration-none text-truncate" role="button">{{item.productName}}</a>
                        <div>
                            <small>
                              {{item.productDetails}}
                            </small>
                           </div>
                        <div class="d-flex align-items-center justify-content-center mt-2">
                            <h5>₹{{item.productPrice}}</h5>
                            <!-- <h6 class="text-muted ml-2"><del>₹{{item.productPrice}}</del></h6> -->
                        </div>
                        <div class="d-flex align-items-center justify-content-center mb-1">
                            <ng-container *ngFor="let star of item.productRating">
                                <small class="fa fa-star text-danger mr-1"></small>

                            </ng-container>
                         
                            <!-- <small>(99)</small> -->
                        </div>
                    </div>
                </div>
            </div>
        </ng-container>
        
    </div>
</div>
<!-- Products End -->